#b1
{
  width: 100%;
  border-radius:100px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px brown;  
}
#b2
{
    border-bottom: 50px ridge greenyellow;
    border-top: 50px ridge greenyellow;
    border-left: 50px ridge greenyellow;
   border-Right: 50px ridge greenyellow;
    border-radius: 100px;
}
#b3
{
 border-top: 40px ridge greenyellow;
 border-top-right-radius: 150px;
 border-bottom: 40px ridge indigo;
 border-top-left-radius: 150px;
 box-shadow: 10px 10px 30px black;   
}
#b4
{
    border:50px double red;
    border-radius: 150px 20px 80px 80px 20px;
}
#b5
{
    border-style: groove;
    border-width: 30px;
    border-color: red;
}