.column1
{
    float: left;
}
.column2
{
    float: left;
}

.column3
{
    float: left;
}
.column_gap
{
    float: left;
    width:50px;
}

.row:after
    {
        display:table;
        clear:both;
    }

.custom-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* grid-cols-1 */
  gap: 1rem; /* gap-4 */
  border: 1px solid gray; /* border-slate-200 */
  outline: none; /* outline-none */
  padding: 5px;
  margin: 2px
}
/* md (min-width: 768px) */
@media (min-width: 100px) {
  .custom-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* md:grid-cols-2 */
  }
}

/* lg (min-width: 1024px) */
@media (min-width: 100px) {
  .custom-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* lg:grid-cols-4 */
  }
}
.label_text
{
/*font-family: "Kantipur";*/
font-size: 16px;
font-weight: bold;
text-shadow: 2px 2px 5px gray;
}
.star
{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: red;
}
.label_column
{
  display: flex;
  /*border: 2px solid green; /* border-slate-200 */
align-items: center;
justify-content: right;
}

