.table_design
{
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid #000000;
	background-color:#FFFFFF;
}
.table_design_trainer
{
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid #000000;
	background-color:#FFFFFF;
  padding: 12px;
  width:1000px;
  
}
td {
  border-bottom: 2px solid #CCCCCC;
}
th {
  border-bottom: 2px solid #000000;
}

.table_design_1
{
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid #000000;
	background-color:#FFFFFF;
}
td {
  border-bottom: 2px solid #CCCCCC;
  border-right: 2px solid #CCCCCC;
}
th {
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
}

