.tabledesign
 {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #cccccc;
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:20px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.tabledesign table
{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabledesign tr:last-child td:last-child
 {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.tabledesign table tr:first-child td:first-child 
{
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.tabledesign table tr:first-child td:last-child
 {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}
.tabledesign tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}
.tabledesign tr:hover td
{
	background-color:;
}
.tabledesign td
{
	vertical-align:middle;
	background-color:#ffffff;
	border:1px solid #0000ff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.tabledesign tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.tabledesign tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.tabledesign tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabledesign tr:first-child td{
	background:-o-linear-gradient(bottom, #1c3135 5%, #014f9e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1c3135), color-stop(1, #014f9e) );
	background:-moz-linear-gradient( center top, #1c3135 5%, #014f9e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c3135", endColorstr="#014f9e");	background: -o-linear-gradient(top,#1c3135,014f9e);

	background-color:#1c3135;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tabledesign tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff5656 5%, #ff5656 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #ff5656) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #ff5656 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#ff5656");	background: -o-linear-gradient(top,#ff5656,ff5656);
	background-color:#0000ff;
}
.tabledesign tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabledesign tr:first-child td:last-child
{
	border-width:0px 0px 0px 0px;
}

/* next design */
.tabledesign1
 {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #cccccc;
	border:1px solid #cccccc;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabledesign1 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabledesign1 tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tabledesign1 table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabledesign1 table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.tabledesign1 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.tabledesign1 tr:hover td{
	background-color:#fbfcf9;
		

}
.tabledesign1 td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #e1e4e8 5%, #fbfcf9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e1e4e8), color-stop(1, #fbfcf9) ); 
	background:-moz-linear-gradient( center top, #e1e4e8 5%, #fbfcf9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1e4e8", endColorstr="#fbfcf9");	background: -o-linear-gradient(top,#e1e4e8,fbfcf9);

	background-color:#e1e4e8;

	border:1px solid #cccccc;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.tabledesign1 tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.tabledesign1 tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.tabledesign1 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabledesign1 tr:first-child td{
		vertical-align:middle;
		background:-o-linear-gradient(bottom, #e1e4e8 5%, #fbfcf9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e1e4e8), color-stop(1, #fbfcf9) ); 
	background:-moz-linear-gradient( center top, #e1e4e8 5%, #fbfcf9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1e4e8", endColorstr="#fbfcf9");	background: -o-linear-gradient(top,#e1e4e8,fbfcf9);
	background-color:#e1e4e8;
	border:2px solid #cccccc;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

/* design three */
.tabledesign2
 {
 	margin:0px;padding:0px;
	width:100%;
	border:1px solid #cccccc;
	background-color:#00CCFF;
	
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:20px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.tabledesign2 table
{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	
	
}
.tabledesign2 tr:last-child td:last-child
 {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.tabledesign2 table tr:first-child td:first-child 
{
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.tabledesign2 table tr:first-child td:last-child
 {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}
.tabledesign2 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}
.tabledesign2 tr:hover td
{
	background-color:;
}
.tabledesign2 td
{
	vertical-align:middle;
	background-color:#0066FF;
	border:1px solid #0000ff;
	border-width:0px 0px 0px 0px;
	text-align:center;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.tabledesign2 tr:last-child td{
	border-width:0px 0px 0px 0px;
}
.tabledesign2 tr td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabledesign tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabledesign2 tr:first-child td{
	
}
.tabledesign2 tr:first-child td:first-child{
	border-width:0px 0px 0px 0px;
}
.tabledesign2 tr:first-child td:last-child
{
	border-width:0px 0px 0px 0px;
}


/*menu */
.tablemenu
 {
	
}
.tablmenu table
{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tablemenu tr:last-child td:last-child
 {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.tablemenu table tr:first-child td:first-child 
{
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.tablemenu table tr:first-child td:last-child
 {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}
.tablemenu tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}
.tablemenu td:hover 
{
	background:-o-linear-gradient(bottom, #ff5656 5%, #ff5656 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #ff5656) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #ff5656 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#ff5656");	background: -o-linear-gradient(top,#ff5656,ff5656);
	background-color:#0000ff;
}
.tablemenu td
{
	vertical-align:middle;
	background-color:#ffffff;
	border:1px solid #0000ff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.tablemenu tr:first-child td{
	background:-o-linear-gradient(bottom, #1c3135 5%, #014f9e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1c3135), color-stop(1, #014f9e) );
	background:-moz-linear-gradient( center top, #1c3135 5%, #014f9e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c3135", endColorstr="#014f9e");	background: -o-linear-gradient(top,#1c3135,014f9e);
	background-color:#1c3135;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tablemenu tr:first-child:hover td
{
	background:-o-linear-gradient(bottom, #ff5656 5%, #ff5656 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #ff5656) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #ff5656 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#ff5656");	background: -o-linear-gradient(top,#ff5656,ff5656);
	background-color:#0000ff;
	}
